*::after, *::before{
    box-sizing: border-box;
}

:root{
 --cell-size: 80px;
 --selection-size-size: calc(var(--cell-size) * .7);
}
body{
    margin: 0;
}

.heading-primary {
    text-transform: capitalize;
    color: blue;
    text-align: center;
}

.board{
    width: 100vw;
    height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: lightblue;
    grid-template-columns: repeat(3, auto);
}


.cell{
    width: var(--cell-size);
    height: var(--cell-size) ;
    position: relative;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
}

.cell.x, .cell.circle{
    cursor: not-allowed;
}




.cell.x::before,
.cell.x::after{
    background-color: green;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    background-color: red; 
   
}




.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    width: calc(var(--cell-size) * .1);
    height: calc(var(--cell-size) * .6);
    content: '';
    position: absolute;

   

}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}


.cell.circle::after{
    background-color: green;
}


.cell.circle::before,
.cell.circle::after, 
.board.circle .cell:not(.circle):not(.x):hover::before,
.board.circle .cell:not(.circle):not(.x):hover::after
{
    
    content: '';
    position: absolute;
    border-radius: 100%;

}


.board.circle .cell:not(.x):not(.circle):hover::after{
    background-color: red ; 
}

.cell.circle::before,
.board.circle .cell:not(.circle):not(.x):hover::before{
  
    width: calc(var(--selection-size-size) * .7);
    height: calc(var(--selection-size-size) * .7);
   
}

.cell.circle::after,
.board.circle .cell:not(.circle):not(.x):hover::after{
  
   width: calc(var(--selection-size-size));
   height: calc(var(--selection-size-size))
}

.winningMessage
{
   
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.841);
    display: flex;
    align-items: center;
   justify-content: center;
   font-size: 5rem;
    color: white;  
    flex-direction: column;
    display: none;
}

.winningMessage.show{
    display: flex;
    
}


.restart{
    margin: 0 auto;
    color: blanchedalmond;
    background-color: green ;
    border: solid 1px blue;
    cursor: pointer;
    padding: .7rem .7rem;
    font-weight: 500;
    font-size: 1.5rem;
    
}

 .restart:hover {
    background-color: yellow;
    color: red;
}


.inplay{
    background-color: red;
    margin-left: 50%;
    transform: translateX(-50%);
    color: wheat;
}

